.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffdd6e;
  z-index: 1000;
  padding: 10px;
}

.title {
  float: left;
  padding: 10px;
  color: #ffffff;
}

.navLink {
  color: #ffdd6e;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff; /* Example background color */
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 20px;
}

/* .link {
  padding: 10px;
} */
