.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
