.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .about {
    padding: 3rem;
  }
}
